<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color">
	<div class="container">
		<a class="navbar-brand" href="#">Navbar</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
			aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="basicExampleNav">

			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Features</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Pricing</a>
				</li>

			</ul>
		</div>
	</div>


</nav>

<section class="cards py-5">
	<div class="container">
		<div class="row" *ngIf="cards[0] as card">
			<app-card [class.col-md-6]="true" (cardSelected)="onCardSelected($event)" [card]="card">
				<app-card-image [imageUrl]="card.thumnailUrl"></app-card-image>
				<app-card-image [imageUrl]="cards[1].thumnailUrl"></app-card-image>
				<app-card-image [imageUrl]="cards[2].thumnailUrl"></app-card-image>
			</app-card>
		</div>
	</div>
</section>
