<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color">
	<div class="container">
		<a class="navbar-brand" href="#">Navbar</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
			aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="basicExampleNav">

			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Features</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Pricing</a>
				</li>

			</ul>
		</div>
	</div>


</nav>

<section class="cards py-5">
	<div class="container">
		<div class="row" *ngIf="cards[0] as card">
			<app-card [class.col-md-6]="true" (cardSelected)="onCardSelected($event)" [card]="card">
				<div class="total-students mb-3">
					<span>10</span>
				</div>
				<p class="short-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita,
					impedit.</p>
				<textarea class="form-control mb-3" name="description" id="description" cols="30" rows="10"></textarea>
			</app-card>
		</div>
	</div>
</section>
